body {
    font-family: Arial, sans-serif;
    background-color: rgb(222, 115, 121);
    margin: 10px;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(222, 115, 121);
}

header h1 {
    color: white;
    font-weight: 350;
    margin: 0;
}

#newTodo {
    background-color: transparent;
    color: white;
    border-bottom-style: inset;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: white;
    border-bottom-width: 2px;
    cursor: pointer;
    font-size: 20px;
    
}

li {
    padding: 25px;
    background-color: rgb(186, 206, 214);
    margin: 8px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.edit, button.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li span {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}


ul {
    list-style-type: none;
    padding: 5px;
}

button.edit, button.delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 40px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

button.edit img {
    display: block; 
    width: 60px; 
    height: 60px; 
}

button.delete img {
    display: block; 
    width: 28px; 
    height: 28px; 
}

div {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 80px;
}